
.nav {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    z-index: 9999999999;
    mix-blend-mode: difference;
    color: #998feb;
}

.joinBtn { background-color: #7254dc;
    width: 50vw;
    padding: 1em 3em 1em 2em;
    color: white;
    text-transform: uppercase;
    svg {
        position: absolute;
        width: 20px;
        top: 15px;
        margin-left: 5px;
    }
}

    
.floatLeft {
    float: left;
}
.navmenu {
    display: flex;
    padding-left: 10px;
    justify-content: center;
    li {
        list-style: none;
    }
    //span { position: absolute; padding-left: 5px;}
}

.subline {
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}


@media (min-width: 600px) {
    .nav {
        bottom: 10vh;
    }
  }
    