
.nav {
    position: fixed;
    width: 100vw;
    top: 0;
    height: 80px;
    padding: 0;
    z-index: 9999999999;
    mix-blend-mode: difference;
    color: #998feb;
}
.navmenu {
    display: flex;
    padding-left: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    li {
        list-style: none;
        display: none;
    }
    h4 { padding-left: 80px; color: white;}
}

li.active { display: block; flex-basis: 100%;}

li.next {
    display: block;
    flex-basis: 40px;
    span { display: none;}
}

.svg { 
    position: absolute;
    left: -180px;
    top: 20px;
}

li.next .svg { 
    position: absolute;
    left: auto;
    right: 10px;
    top: 30px;
}
