
.nav {
    position: fixed;
    width: 100vw;
    top: -16px;
    height: 80px;
    padding: 22px 0;
    z-index: 9999999999;
    background-color: white;
}
.navmenu {
    display: flex;
    padding-left: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    li {
        list-style: none;
        display: none;
    }
    span { position: absolute; left: 90px;}
}

li.active { display: block; flex-basis: 100%;}

li.next {
    display: block;
    flex-basis: 40px;
    span { display: none;}
}

.svg { 
    position: absolute;
    left: -180px;
    top: 30px;
}
