.noise {
    background:
    //linear-gradient(0deg, rgba(0,0,255,1), rgba(0,0,0,0)),
      url('/images/noise.svg');
      //filter: contrast(170%) brightness(1000%);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
  }
  
  ._overlay {
    background: moccasin;
    mix-blend-mode: multiply;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .isolate {
    isolation: isolate;
    position: fixed;
    z-index: -1;
    /* ... */
  }
  