@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;800&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.MuiFormLabel-root {
  font-weight: 400;
}

.bubble {
  width: 90vw;
  margin: 2px;
  padding: 2em;
  border-radius: 5px;
  display: none;
  position: relative;
}

.bubble.active {
  display: block;
}

.img-wrapper {
  position: absolute;
  top: -3em;
  left: 0;
}
.push-down { margin-top: 12rem; }

.bubble.hidden { display: none;}
.hidden { display: none;}



.clipped {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.clipped-inset {
  clip-path: inset(5% 20% 15% 10%);
}

.clipped-parall {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.clipped-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.clipped-bubble {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}