@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM sans', sans-serif;
}
p {font-family: 'DM sans', sans-serif;}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h2, h1 {
  font-weight: 400;
  font-family: 'Dosis',sans-serif;
}
.MuiButtonBase-root.colormode {
  position: fixed;
    left: auto;
    right: 15px;
    top: 18px;
    z-index: 9999999999;
    mix-blend-mode: luminosity;
}
.MuiFormLabel-root {
  font-weight: 400;
}

.MuiGrid-item, .MuiGrid-root { text-align: center;}

.bubble {
  width: 90vw;
  margin: 2px;
  padding: 6vw;
  border-radius: 5px;
  display: none;
  position: relative;
}

.bubble.active {
  display: block;
}

h4 {
  margin: 0;
  font-family: 'Dosis',sans-serif;
  font-weight: 400;
  font-size: 2.4285714285714284rem;
  line-height: 1.235;
}

.bubble-introL {
  position: absolute;
  top: -4em;
  left: 20vw;
  text-align: right;
}
.bubble-introR {    
  position: absolute;
  top: -4em;
}



.push5 {margin-bottom: 5vh;}
.push10 {margin-bottom: 10vh;}
.push15 {margin-bottom: 15vh;}
.push25 {margin-bottom: 25vh;}
.push20 {margin-bottom: 20vh;}
.push30 {margin-bottom: 30vh;}


.pushup {margin-top: 10vh; margin-bottom: 12em;}

.toleft {margin-left: -50vw;}
.toright {margin-left: 50vw;}
//.bubble.toleft, .bubble.toright {width: 110vw;}
// .toup { margin-top: -270px;}

#practice-bubble .MuiFormControl-root {
    display: inline-block;
    flex: none;
}
//.MuiFormControl-root.pushdown { margin-top: 84px;}
#initiated-bubble .MuiFormGroup-root,
#dry-bubble .MuiFormGroup-root,
#practice-bubble .MuiFormGroup-root { float: left; display: contents;}



.img-wrapper {
  position: absolute;
  top: -6em;
  left: 0;
}
//.desc { padding-top: 17em;}
.desc-noimg { padding-top: 0;}

.bubble.hidden { display: none;}
.hidden { display: none;}


.clipped {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.clipped-inset {
  clip-path: inset(5% 20% 15% 10%);
}

.clipped-parall {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.clipped-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.clipped-downtriangle {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

.clipped-bubble {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.clipped-circle {
  clip-path: circle(50% at 50% 50%);

}

#apply-later, #apply-success { text-align: center;}
#tsparticles {opacity: 0.75; z-index: 0;}
#tsparticlesHearts { position: fixed; z-index: -1;}
.bye {margin-top: 6em;}

#dry, #motive, #focus, #dryguide {height: 20vh;}
#connect {height: 10vh;}

@media (min-width: 600px) {
  p { font-size: 1.1em;}
  .main { 
    //align-items: flex-start
  }
 .img-wrapper {
   width: 45vw;
 }
 .bubble {
   width: 50vw;
 }
 .bubble.left {margin-left: -40vw;}
 .bubble.right {margin-left: 20vw;}
 .toleft { margin-left: 50vw;}
 .toright { margin-left: -50vw;}

 .pushup {
  margin-top: 14vh;
  margin-left: -56vw;
  margin-bottom: 0;
}
  .bye {margin-left: -56vw; margin-top: 6em;}
  .hi.bubble  {
    padding: 0;
    margin-left: 40vw;
  }
  .bubble-introL, .bubble-introR {top: -3em;}

  .push5 {margin-bottom: 10vh;}
  .push10 {margin-bottom: 0;}
  .push15 {margin-bottom: 6em;}
  .push20 {margin-bottom: 8em;}
  .push30 {margin-bottom: 6em;}
}
  