@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.MuiFormLabel-root {
  font-weight: 400;
}

.MuiGrid-root { text-align: center;}

.bubble {
  width: 95vw;
  margin: 2px;
  padding: 2em;
  border-radius: 5px;
  display: none;
  position: relative;
}

.bubble.active {
  display: block;
}
.shapeoutsideL {
  shape-outside: polygon(0 0, 0 400px, 190px 400px);
  width: 270px;
  height: 270px;
  float: left;
}
.shapeoutsideL2 {
  shape-outside: polygon(0 0, 0 400px, 190px 400px);
  width: 270px;
  height: 270px;
  float: left;
}
.shapeoutsideR {
  shape-outside: polygon(90% -76%, 129% 123%, 7% -46%);
  float: right;
  width: 250px;
  height: 320px;
}

.push5 {margin-bottom: 5vh;}
.push10 {margin-bottom: 10vh;}
.push15 {margin-bottom: 15vh;}
.push20 {margin-bottom: 20vh;}
.push30 {margin-bottom: 30vh;}


.pushup {margin-top: 10vh;}

.toleft {margin-left: -100vw;}
.toright {margin-left: 100vw;}
.bubble.toleft, .bubble.toright {width: 110vw;}
.toup { margin-top: -270px;}

#practice-bubble.toup { margin-top: -120px;}
#practice-bubble .MuiFormControl-root {
    display: inline-block;
    flex: none;
}
.MuiFormControl-root.pushdown { margin-top: 84px;}
#initiated-bubble .MuiFormGroup-root,
#practice-bubble .MuiFormGroup-root { float: left; display: contents;}
.hrefna {
  .shapeoutsideL {
  shape-outside: polygon(0 0, 0 400px, 190px 400px);
  height: 450px;
  }
  .toup {margin-left: -55px; margin-top: -325px;}
  .andyou {display: none;}
}
.kamilla {
  .shapeoutsideL2 {
    shape-outside: polygon(-85px -114px, 0 378px, 165px 406px);
    height: 450px;
    }  
}
.fabi {
  .shapeoutsideL2 {
    shape-outside: polygon(0 -40px, 0 364px, 180px 307px);
    height: 280px;
    }  
}


.img-wrapper {
  position: absolute;
  top: -6em;
  left: 0;
}
.desc { padding-top: 10em;}
.desc-noimg { padding-top: 0;}

.bubble.hidden { display: none;}
.hidden { display: none;}


.clipped {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.clipped-inset {
  clip-path: inset(5% 20% 15% 10%);
}

.clipped-parall {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.clipped-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.clipped-downtriangle {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

.clipped-bubble {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

#tsparticles {opacity: 0.75;}

@media (min-width: 600px) {
  p { font-size: 1.1em;}
  .main { 
    //align-items: flex-start
  }
 .img-wrapper {
   width: 45vw;
 }
 .bubble {
   width: 40vw;
 }
 .toleft { margin-left: 0;}
 //.toright { margin-left: 0;}
 .toup {    
   margin-top: -20vh;
  margin-left: -10vw;
  }
 .pushup {
  margin-top: 20vh;
  margin-left: -56vw;
}
  .bye {margin-left: -56vw;}
  .hi.bubble  {
    padding: 0;
    margin-left: 40vw;
  }
  .push5 {margin-bottom: 10vh;}
  .push10 {margin-bottom: 30vh;}
  .push15 {margin-bottom: 50vh;}
  .push20 {margin-bottom: 60vh;}
  .push30 {margin-bottom: 70vh;}
  .MuiGrid-root { text-align: left;}
}
  